<% provide :title, t("home") %>
<div class="center jumbotron">
  <h1><%= t "welcome" %></h1>
  <h2>
  <%= t "to_begin" %>
  </h2>
  <% unless logged_in? %>
  <%= link_to t("sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
