<% unless @activity.blank? %>
  <ul class="microposts">
    <% @activity.each do |act| %>
      <li>
        <span class="content"><%= t "checked"%> <%= link_to act.category.title, act.category %></span>
        <span class="timestamp">
          :: <%= time_ago_in_words(act.created_at) %> <%= t "ago"%>.
        </span>
      </li>
      <br>
    <% end %>
  </ul>
<% end %>
